@media (min-width: 140px) and (max-width: 1430px) {
  .wrapped-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
  }
}

@media (min-width: 140px) and (max-width: 500px) {
  .wrapped-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
  }
}

@media (min-width: 140px) and (max-width: 1430px) {
  .left-container{
    width: 100%;
  }
}


@media (min-width: 140px) and (max-width: 1430px) {
  .right-container{
    width: 95%;
    padding: 2rem;
  }
}

@media (min-width: 140px) and (max-width: 500px) {
  .right-container{
    width: 82%;
  }
}


@media (min-width: 140px) and (max-width: 1430px) {
  .container-one {
    flex-direction: column;
  }
}

@media (min-width: 140px) and (max-width: 1430px) {
  .container-two {
    flex-direction: column;
  }
}

@media (min-width: 140px) and (max-width: 1050px) {
  .quotation {
    opacity: 0;
  }
}

@media (min-width: 140px) and (max-width: 1430px) {
  .kira-body {
    margin-bottom: 0;
  }
}
